*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.metadatadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache


/build
#settings.xml
.idea/workspace.xml
.idea/*.iml
.idea/
transaction-logs

JOOQ
rocksdbprod
rocksdbdev
node_modules/
/rocksdprod/
zdev_temp
rebel.xml
rebel-remote.xml
spring-shell.log
*.mmdb
package-lock.json
*___jb_old___

out/*
generated/*
dist/*
venv/
dist
__pycache__/
*.bak
*.log

gradle/*
!gradle/wrapper/
gradle/wrapper/*
!gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat

java_*.hprof
java_pid*